.to-test {
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 19px;
  background: #63d195;
  color: #ffffff;
  margin-right: 30px;
}

.to-my {
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 19px;
  background: #00bbd1;
  color: #ffffff;
  margin-right: 30px;
}

.end-task {
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 19px;
  background: #d17356;
  color: #ffffff;
  margin-right: 30px;
}

#my-comment-input {
  border: solid 1px #0d6aad;
  width: 250px;
}
#my-time-input {
  border: solid 1px #0d6aad;
}
.programmer-issue-list {
  background: #79b8db;
  color: white !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;

}